<a href="https://colab.research.google.com/github/queenakki/st/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Amazon data set**

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import numpy as np
import pandas as pd

In [47]:
stock=pd.read_csv("/content/drive/MyDrive/finalre.csv")
stock.head()

,Date,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,1/1/2005,12.22,12.25,10.45,11.63,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.2475,2.2720,2.013,2.1610,2.1610,3898704000
1,2/1/2005,11.35,11.64,10.66,10.88,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.1500,2.1770,1.660,1.7590,1.7590,4373102000
2,3/1/2005,10.69,11.14,9.38,9.70,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.7530,1.8215,1.641,1.7135,1.7135,2391332000
3,4/1/2005,10.00,10.15,9.25,9.48,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.7315,1.7670,1.530,1.6180,1.6180,3249826000
4,5/1/2005,9.55,10.30,9.42,9.85,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.6150,1.8020,1.605,1.7755,1.7755,2338956000

In [48]:
print(stock.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  217 non-null    object
 1   tata-open             217 non-null    float64
 2   tata-high             217 non-null    float64
 3   tata-low              217 non-null    float64
 4   tata-close            217 non-null    float64
 5   tata-Adj Close        217 non-null    float64
 6   tata-volume           217 non-null    int64
 7   Reliance-open         217 non-null    float64
 8   Reliance+High         217 non-null    float64
 9   Reliance-Low          217 non-null    float64
 10  Reliance-Close        217 non-null    float64
 11  Reliance-Adj Close    217 non-null    float64
 12  Reliance-Volume       217 non-null    int64
 13  Amazon-Open           217 non-null    float64
 14  Amazon-High           217 non-null    float64
 15  Reliance-Low.1        217 non-null    float64
 16  Reliance-Close.1      217 non-null    float64
 17  Reliance-Adj Close.1  217 non-null    float64
 18  Reliance-Volume.1     217 non-null    int64
dtypes: float64(15), int64(3), object(1)
memory usage: 32.3+ KB
None

In [49]:
stock.columns

Index(['Date', 'tata-open', 'tata-high', 'tata-low', 'tata-close ',
       'tata-Adj Close', 'tata-volume', 'Reliance-open', 'Reliance+High',
       'Reliance-Low', 'Reliance-Close', 'Reliance-Adj Close',
       'Reliance-Volume', 'Amazon-Open', 'Amazon-High', 'Reliance-Low.1',
       'Reliance-Close.1', 'Reliance-Adj Close.1', 'Reliance-Volume.1'],
      dtype='object')

In [50]:
print(stock.describe())

        tata-open   tata-high    tata-low  tata-close   tata-Adj Close  \
count  217.000000  217.000000  217.000000   217.000000      217.000000
mean    22.164424   23.995968   20.221383    22.092304       21.511681
std     10.332475   10.771715    9.629512    10.235454       10.491738
min      3.500000    4.230000    3.050000     3.510000        3.250189
25%     13.480000   15.560000   12.060000    13.860000       12.770000
50%     20.950001   22.490000   19.070000    20.790001       20.070362
75%     29.450001   30.889999   26.799999    29.049999       28.909027
max     49.840000   51.799999   45.580002    49.320000       49.299404

        tata-volume  Reliance-open  Reliance+High  Reliance-Low  \
count  2.170000e+02     217.000000     217.000000    217.000000
mean   2.956912e+07     810.628011     869.632072    762.192087
std    1.422786e+07     691.337313     732.449162    657.551621
min    8.290450e+05      81.927490      85.099380     75.815811
25%    2.131210e+07     408.577087     444.907715    379.217896
50%    2.888860e+07     500.158997     532.452881    475.802368
75%    3.634640e+07     963.219666    1163.867676    909.825745
max    7.904680e+07    2762.000000    2856.149902   2700.600098

       Reliance-Close  Reliance-Adj Close  Reliance-Volume  Amazon-Open  \
count      217.000000          217.000000     2.170000e+02   217.000000
mean       820.942048          794.894182     2.489991e+08    43.416572
std        700.256396          707.959711     1.924316e+08    52.389130
min         81.703140           70.291351     5.346727e+06     1.327500
25%        409.121948          377.585205     1.396742e+08     4.501500
50%        500.084686          471.020142     1.832408e+08    15.629500
75%       1051.284912         1035.127808     2.647356e+08    81.176498
max       2790.250000         2781.874512     1.344177e+09   177.250000

       Amazon-High  Reliance-Low.1  Reliance-Close.1  Reliance-Adj Close.1  \
count   217.000000      217.000000        217.000000            217.000000
mean     46.554876       40.442532         43.731315             43.731315
std      56.000910       48.559140         52.212322             52.212322
min       1.549500        1.288000          1.344500              1.344500
25%       4.797000        4.012500          4.632000              4.632000
50%      17.035999       14.400000         15.632000             15.632000
75%      86.820503       73.046501         81.481003             81.481003
max     188.654007      165.348999        175.353500            175.353500

       Reliance-Volume.1
count       2.170000e+02
mean        2.312781e+09
std         1.144179e+09
min         7.209641e+07
25%         1.505070e+09
50%         1.950422e+09
75%         2.857670e+09
max         6.925740e+09

In [51]:
timefmt = "%d/%m/%y %S:%M:%H" 
stock['Date'] = pd.to_datetime(stock['Date'], format = timefmt, errors='coerce')

In [52]:
stock.head()

,Date,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,NaT,12.22,12.25,10.45,11.63,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.2475,2.2720,2.013,2.1610,2.1610,3898704000
1,NaT,11.35,11.64,10.66,10.88,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.1500,2.1770,1.660,1.7590,1.7590,4373102000
2,NaT,10.69,11.14,9.38,9.70,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.7530,1.8215,1.641,1.7135,1.7135,2391332000
3,NaT,10.00,10.15,9.25,9.48,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.7315,1.7670,1.530,1.6180,1.6180,3249826000
4,NaT,9.55,10.30,9.42,9.85,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.6150,1.8020,1.605,1.7755,1.7755,2338956000

In [53]:
 #Dropping the first column from status dataset
status = pd.get_dummies(stock['Date'], drop_first = True)

# Adding the status to the original housing dataframe
stock = pd.concat([stock, status], axis = 1)

# Dropping 'furnishingstatus' as we have created the dummies for it
stock.drop(['Date'], axis = 1, inplace = True)

stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

In [54]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(stock, train_size = 0.7, test_size = 0.3, random_state = 100)

In [55]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Applying scaler() to all the columns except the 'yes-no' and 'dummy' variables
num_vars = [ 'tata-open', 'tata-high', 'tata-low', 'tata-close ',
       'tata-Adj Close', 'tata-volume', 'Reliance-open', 'Reliance+High',
       'Reliance-Low', 'Reliance-Close', 'Reliance-Adj Close',
       'Reliance-Volume', 'Amazon-Open', 'Amazon-High', 'Reliance-Low.1',
       'Reliance-Close.1', 'Reliance-Adj Close.1', 'Reliance-Volume.1' ]
df_train[num_vars] = scaler.fit_transform(df_train[num_vars])
df_test[num_vars] = scaler.fit_transform(df_test[num_vars])

df_train

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
40,0.282693,0.276435,0.245709,0.226427,0.200666,0.313729,0.211024,0.243132,0.196639,0.193610,0.173956,0.147458,0.014737,0.014408,0.013971,0.015726,0.015726,0.434713
97,0.524385,0.525962,0.552786,0.516955,0.513050,0.432206,0.134162,0.132188,0.123163,0.121081,0.114505,0.078515,0.068888,0.065210,0.069963,0.068209,0.068209,0.189846
196,0.346785,0.381753,0.377381,0.398600,0.402179,0.342495,0.702993,0.771013,0.697270,0.784427,0.780326,0.125055,0.982870,0.926162,0.946149,0.918395,0.918395,0.208879
177,0.101856,0.171537,0.114507,0.187486,0.192164,0.646019,0.463614,0.508944,0.454686,0.516514,0.513197,0.119868,0.488695,0.473810,0.506171,0.502781,0.502781,0.194803
1,0.169400,0.155770,0.178933,0.161234,0.129873,0.040731,0.000254,0.002707,0.002278,0.001399,0.001198,0.412604,0.004675,0.003364,0.002270,0.002382,0.002382,0.627550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0.510790,0.554972,0.558429,0.574054,0.558417,0.478581,0.107918,0.107153,0.107680,0.108227,0.101027,0.088232,0.048735,0.054366,0.048165,0.058908,0.058908,0.312040
103,0.444540,0.457641,0.439690,0.411507,0.412741,0.435325,0.131168,0.128898,0.115266,0.128561,0.123089,0.105929,0.078594,0.073763,0.077352,0.073011,0.073011,0.117220
67,0.336858,0.393105,0.370327,0.391599,0.366060,0.453779,0.157198,0.155754,0.143779,0.140780,0.129527,0.156772,0.026318,0.026753,0.028007,0.028142,0.028142,0.320457
24,0.376565,0.375867,0.389137,0.367316,0.318855,0.162033,0.086799,0.098288,0.090385,0.096657,0.086459,0.155655,0.003448,0.002184,0.003215,0.003098,0.003098,0.370111
8,0.152568,0.180156,0.175641,0.192956,0.162099,0.090813,0.010940,0.016423,0.013499,0.015259,0.013970,0.621779,0.004539,0.003980,0.004496,0.005290,0.005290,0.295013

In [57]:
y_train = df_train.pop('tata-volume')
X_train = df_train
y_test = df_test.pop('tata-volume')
X_test = df_test

# **checking null value**

In [58]:
stock.isnull().sum()

tata-open               0
tata-high               0
tata-low                0
tata-close              0
tata-Adj Close          0
tata-volume             0
Reliance-open           0
Reliance+High           0
Reliance-Low            0
Reliance-Close          0
Reliance-Adj Close      0
Reliance-Volume         0
Amazon-Open             0
Amazon-High             0
Reliance-Low.1          0
Reliance-Close.1        0
Reliance-Adj Close.1    0
Reliance-Volume.1       0
dtype: int64

# **Missing value treatement**

In [59]:
m1=stock['tata-volume'].mean()
m2=stock['Reliance-Volume'].mean()
m3=stock['Reliance-Volume.1'].mean()
stock['tata-volume'].fillna(value=m1, inplace=True)
stock['Reliance-Volume'].fillna(value=m2, inplace=True)
stock['Reliance-Volume.1'].fillna(value=m3, inplace=True)
stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

# **Outerline direction**

In [63]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 3
    mean = np.mean(data)
    std = np.std(data)
    #print(mean, std)
    for i in data:
        #print(i)
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [64]:
sample_outliers_tata = detect_outliers_zscore(stock['tata-volume'])
sample_outliers_Reliance_volume = detect_outliers_zscore(stock['Reliance-Volume'])
sample_outliers_amazon_volume = detect_outliers_zscore(stock['Reliance-Volume.1'])
print("Outliers in tata-volume column from Z-scores method: ", sample_outliers_tata)
print("Outliers in reliance-volume from Z-scores method: ", sample_outliers_Reliance_volume)
print("Outliers in amazon-volume column from Z-scores method: ", sample_outliers_amazon_volume)

Outliers in tata-volume column from Z-scores method:  [79046800]
Outliers in reliance-volume from Z-scores method:  [847093258, 1161507241, 1131934037, 837803130, 1344176700]
Outliers in amazon-volume column from Z-scores method:  [6925740000, 6604848000, 5766708000, 6641494000]

In [66]:
from scipy.stats import zscore
z1 = np.abs(zscore(stock['tata-volume']))
z2 = np.abs(zscore(stock['Reliance-Volume']))
z3 = np.abs(zscore(stock['Reliance-Volume.1']))
stock['Zscore_tata-volume'] = z1
stock['Zscore_Reliance-Volume'] = z2
stock['Zscore_Reliance-Volume.1'] = z3
outliers_tata_volume=len(stock[stock['Zscore_tata-volume']>3])
outliers_Reliance_Volume=len(stock[stock['Zscore_Reliance-Volume']>3])
outliers_Reliance_Volume_1=len(stock[stock['Zscore_Reliance-Volume.1']>3])
data_z = stock[stock['Zscore_tata-volume']<3]
data_z = stock[stock['Zscore_Reliance-Volume']<3]
data_z = stock[stock['Zscore_Reliance-Volume.1']<3]
stock=data_z.drop(['Zscore_tata-volume', 'Zscore_Reliance-Volume', 'Zscore_Reliance-Volume.1'], axis=1)
stock

,tata-open,tata-high,tata-low,tata-close,tata-Adj Close,tata-volume,Reliance-open,Reliance+High,Reliance-Low,Reliance-Close,Reliance-Adj Close,Reliance-Volume,Amazon-Open,Amazon-High,Reliance-Low.1,Reliance-Close.1,Reliance-Adj Close.1,Reliance-Volume.1
0,12.220000,12.250000,10.450000,11.630000,9.853169,5082700,83.459282,85.099380,75.815811,82.360725,70.857086,737790626,2.247500,2.272000,2.013000,2.161000,2.161000,3898704000
1,11.350000,11.640000,10.660000,10.880000,9.217754,4014900,82.608292,92.495293,81.795975,86.066422,74.045189,557753430,2.150000,2.177000,1.660000,1.759000,1.759000,4373102000
2,10.690000,11.140000,9.380000,9.700000,8.218034,2523100,86.259827,92.959465,83.412865,84.488213,72.687424,847093258,1.753000,1.821500,1.641000,1.713500,1.713500,2391332000
3,10.000000,10.150000,9.250000,9.480000,8.031645,3999900,86.182465,89.261513,79.219788,81.703140,70.291351,588357750,1.731500,1.767000,1.530000,1.618000,1.618000,3249826000
4,9.550000,10.300000,9.420000,9.850000,8.345117,3321800,81.927490,85.989052,79.776802,82.778488,71.216492,492446912,1.615000,1.802000,1.605000,1.775500,1.775500,2338956000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,29.170000,29.350000,23.590000,24.260000,24.260000,13376100,2582.649902,2629.699951,2311.000000,2377.750000,2377.750000,118852012,126.000000,136.490005,112.059998,113.000000,113.000000,1210487600
213,24.110001,25.520000,23.230000,25.010000,25.010000,18738300,2391.500000,2560.949951,2343.100098,2549.600098,2549.600098,94498167,113.580002,123.000000,97.660004,102.440002,102.440002,1459311500
214,25.700001,27.610001,24.790001,27.299999,27.299999,15021300,2600.000000,2745.449951,2502.000000,2731.350098,2731.350098,104414767,103.989998,104.580002,85.870003,96.540001,96.540001,2034653700
215,27.000000,27.240000,26.100000,26.549999,26.549999,1754600,2741.800049,2755.000000,2700.600098,2722.149902,2722.149902,9726291,96.989998,97.230003,93.779999,94.129997,94.129997,140915000
216,26.100000,26.565001,26.100000,26.549999,26.549999,829045,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5346727,94.474998,95.360001,93.779999,94.129997,94.129997,72096414

# **Data Normalization**

In [67]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
stock_norm = scaler.fit_transform(stock)
#stock_norm1 = scaler.fit_transform(x1_test)
#stock_norm2 = scaler.fit_transform(x2_train)
#stock_norm3 = scaler.fit_transform(x3_train)
stock_norm
#stock_norm1
#stock_no#stock_norm3

array([[0.18817436, 0.16859366, 0.17399482, ..., 0.00469229, 0.00469229,
        0.72196988],
       [0.16940009, 0.15577045, 0.17893251, ..., 0.00238206, 0.00238206,
        0.81147503],
       [0.15515753, 0.14525962, 0.14883611, ..., 0.00212058, 0.00212058,
        0.4375725 ],
       ...,
       [0.47906778, 0.49148626, 0.51116859, ..., 0.54707228, 0.54707228,
        0.37027765],
       [0.50712128, 0.48370823, 0.54197035, ..., 0.5332224 , 0.5332224 ,
        0.01298407],
       [0.48769961, 0.46951864, 0.54197035, ..., 0.5332224 , 0.5332224 ,
        0.        ]])

In [68]:
x1=stock.drop('tata-volume',axis=1)
#x2=stock.drop('Relinace-Volume',axis=1)
#x3=stock.drop('Reliance-Volume.1',axis=1)
y1=stock['tata-volume']
#y2=stock['Reliance-Volume']
#y3=stock['Reliance-volume.1']
print(type(x1))
print(type(y1))
print(x1.shape)
print(y1.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(213, 17)
(213,)

# **Data split**

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.2)
print(x1_train.shape)
print(x1_test.shape)
print(y1_train.shape)
print(y1_test.shape)

(170, 17)
(43, 17)
(170,)
(43,)

model training

In [71]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [72]:
m = regressor.coef_
c = regressor.intercept_,
print("Estimated model weights, m:" , m)
print("Estimated model intercept, c:" , c)

Estimated model weights, m: [-0.55495941  3.98111747 -1.76005421 -4.30813498  2.54433845 -0.43718646
  0.866975   -1.69311286 10.76429573 -9.93229474 -0.33258422  0.15480105
 -0.66232307 -0.04672794  0.39605187  0.39605187 -0.23358771]
Estimated model intercept, c: (0.47820318753244756,)

# **Prediction of training and testing data**

In [73]:
y_pred_test =  regressor.predict(X_test)
y_pred_train =  regressor.predict(X_train)

# **Error matrices computation**

In [74]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.1086609296827992
Mean square error 0.011807197639530231
Mean absolute error 0.08301508974226834

In [75]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.20484412153903764
Mean square error 0.04196111412910002
Mean absolute error 0.150284792344319

# **save model**

In [76]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

# **Deployment**

In [103]:
list_of_columns = stock.columns
input_data=pd.DataFrame(columns=list_of_columns)
input_data.drop(['tata-volume'], axis='columns', inplace=True)
input_data.drop(['tata-high'], axis='columns', inplace=True)
input_data.drop(['tata-low'], axis='columns', inplace=True)
#input_data.drop(['tata-close'], axis='columns', inplace=True)
#input_data.drop(['tata-Adj volume'], axis='columns', inplace=True)
input_data.drop(['tata-open'], axis='columns', inplace=True)


input_data.at[0, 'Date'] = input('enter Date')



#input_data['area']=(input_data['area']-housing['area'].min())/(housing['area'].max()-housing['area'].min())
#input_data['bedrooms']=(input_data['bedrooms']-housing['bedrooms'].min())/(housing['bedrooms'].max()-housing['bedrooms'].min())
#input_data['bathrooms']=(input_data['bathrooms']-housing['bathrooms'].min())/(housing['bathrooms'].max()-housing['bathrooms'].min())
#input_data['stories']=(input_data['stories']-housing['stories'].min())/(housing['stories'].max()-housing['stories'].min())
#input_data['Date']=(input_data['Date']-stock['Date'].min())/(stock['Date'].max()-stock['Date'].min())

y_pred =  regressor.predict(input_data)
price=y_pred*(stock['tata-volume'].max()-stock['tata-volume'].min())+stock['tata-volume'].min()
print('Predict.ed House Price=',price)

enter Date2/2/2008

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Date
Feature names seen at fit time, yet now missing:
- tata-high
- tata-low
- tata-open

  warnings.warn(message, FutureWarning)

ValueError: ignored

In [101]:
model = pickle.load(open('model.pkl', 'rb'))
prediction = model.predict(input_data)
result = prediction[0]
price=result*(stock['tata-volume'].max()-stock['tata-volume'].min())+stock['tata-volume'].min()
print('House price',price)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Date
Feature names seen at fit time, yet now missing:
- tata-high
- tata-low
- tata-open

  warnings.warn(message, FutureWarning)

ValueError: ignored